* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --primary: #EB2F64;
    --primary-light: #FF3366;
    --primary-dark: #BA265D;

    --grey-light-1: #FAF9F9;
    --grey-light-2: #F4F2F2;
    --grey-light-3: #F0EEEE;
    --grey-light-4: #CCC;

    --grey-dark-1: #333;
    --grey-dark-2: #777;
    --grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba( 0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba( 0, 0, 0, 0.06);
}

.bg-c--primary {
    background-color: var(--primary);
}

.box-shadow--light {
    box-shadow: var(--shadow-light);
}

html {
    background: linear-gradient( 135deg, var(--primary-light), var(--primary-dark));
    min-height: 100vh;
    font-size: 10px;
    padding: 10vh 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400px;
    letter-spacing: 1.6;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: var(--shadow-dark);
}

.h1 {
    color: var(--grey-dark-2);
    font-size: 2.25rem;
}

.h2 {
    color: var(--grey-dark-2);
    font-size: 2rem;
}

.paragraph {
    color: var(--grey-dark-2);
    font-size: 1.4rem;
}

.button {
    font-size: 1.2rem;
    color: var(--primary);
    background-color: var(--grey-light-1);
    padding-bottom: 0.2rem;
    border: 0;
    border-bottom: 1px solid var(--primary);
    transition: .2s;
}

.button:hover {
    color: black;
    border-bottom: 1px solid black;
}

.button:focus {
    animation-duration: .5s;
    animation-name: button-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes button-animation{
    from {
        box-shadow: 0  0;
        transform: scale(1);
    }

    to {
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
        transform: scale(1.05);
    }
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    font-size: 1.4em;
    box-shadow: 10px #000;
    border-bottom: 0.1rem solid var(--grey-light-2);
}

.logo {
    height: 3.25rem;
    margin-left: 20px;
}

.search__input {
    font-size: 1em;
    width: 35%;
    height: 3.32rem;
    padding: 0.7rem 2rem;
    background-color: var(--grey-light-2);
    border: 0;
    border-radius: 2.5em;
    transition: .3s;
}

.search__input::placeholder {
    color: var(--grey-light-4);
    font-size: 1em;
}

.search__input:focus {
    width: 40%;
    background-color: var(--grey-light-3);
    outline: 0;
}

.nav {
    display: flex;
}

.nav__user {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.nav__box {
    width: 6.25rem;
    height: 6.9rem;
    padding: 0 2rem;
    position: relative;
}

.nav__box__count {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1.3rem;
}

.nav__user__img {
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
}

/* content */

.content {
    width: 100%;
    display: flex;
}

.sidemenu {
    width: 20%;
    background-color: var(--grey-dark-1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidemenu__ul {
    margin-top: 3.5rem;
    font-size: 1.4rem;
}

.sidemenu__li {
    padding: 1.5rem 0;
    color: var(--grey-light-1);
    transition: .2s;
    position: relative;
}
.sidemenu__li::before {
    content: "";
    margin-right: 35%;
}

.sidemenu__li-text {
    position: relative;
    z-index: 9;
}

.sidemenu__li-hover {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 0;
    z-index: 1;
    background-color: var(--primary);
}

.sidemenu__li-hover:active {
    background-color: var(--primary-light);
}

.sidemenu__li:hover .sidemenu__li-hover {
    animation: sidemenu-animation-1 .5s linear forwards;
}

@keyframes sidemenu-animation-1 {
    0% {
        width: 0;
        height: 0;
        top: 50%;
    }

    50% {
        top: 0;
        width: 1rem;
        height: 100%;
    }

    100% {
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.sidemenu__footer {
    font-size: 1.2rem;
    text-align: center;
    color: var(--grey-light-4);
    padding: 2.5rem;
}

/* main */

.main {
    width: 80%;
    background-color: white;
}

.hotels {
    width: 100%;
    display: flex;

}

.hotel__img__div {
    width: 33.3333333%;
}

.hotel__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
}

.overview {
    width: 100%;
    display: flex;
    margin-top: -5px;
    border-bottom: 0.1rem solid var(--grey-light-2);
}

.overview__main {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-light-1);
}

.overview__hotel__name {
    padding: 1.5rem 3rem;
    letter-spacing: 0.16rem; 
}

.overview__button {
    margin-right: 2rem;
}

.overview__ratings {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary);
}

.overview__rating {
    color: white;
}

.overview__votes {
    font-size: 0.8rem;
    color: white;
}

.inner {
    padding: 4.5rem;
    background-color: var(--grey-light-1);
    display: flex;
}

.description {
    background-color: white;
    padding: 3rem;
    margin-right: 4.5rem;
}

.p--margin {
    margin-bottom: 2rem;
}

.list {
    padding: 3rem 0;
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    border-top: 0.1rem solid var(--grey-light-2);
    border-bottom: 0.1rem solid var(--grey-light-2);
}

.list__item {
    width: 50%;
    list-style: none;
    margin-bottom: 0.7rem;
}

.list__item::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;
}

.recommend {
    display: flex;
    align-items: center;
}

.recommend__count {
    font-size: 1.3rem;
    color: var(--grey-dark-3);
    margin-right: auto;
}

.recommend__images {
    width: 12.4rem;
}

.recommend__img {
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    outline: 0.3rem solid white;
    margin-right: -2rem;
}

.reviews {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review {
    padding: 3rem;
    margin-bottom: 3.5rem;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.quote-svg {
    width: 5rem;
    color: var(--grey-light-2);
    position: absolute;
    top: -0.75rem;
    left: 0;
    z-index: 1;
}

.review--p {
    width: 13.7rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 3;
}

.review__user {
    display: flex;
    align-items: center;
}

.review__user-img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.review__user-data {
    width: 4.66rem;
}

.review__user-name {
    font-size: 1.1rem;
    color: var(--grey-dark-2);
    margin-bottom: 0.4rem;
    font-weight: 600;
}

.review__user-date {
    color: var(--grey-dark-3);
}

.review__rating {
    color: var(--primary);
    font-size: 2.2rem;
}

.review__button {
    font-size: 1.4rem;
}

.span-1, .span-2 {
    transition: .3s;
}

.review__button:hover .span-1{
    margin-right: 0.25rem;
    transition: 0.3s;
}

.review__button:hover .span-2{
    margin-left: 0.25rem;
    transition: 0.3s;
}

.order {
    width: 19.335rem;
    padding: 3.5rem 0;
    margin-right: -7.7rem;
}

.order-h2 {
    line-height: 1.8;
    text-align: center;
    font-weight: 100;
    margin-bottom: 20px;
}

.order__button {
    font-size: 1.5rem;
    border-radius: 5rem;
    border: 0;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--primary-light), var(--primary-dark));
}

.order__button__text-1 {
    padding: 2rem 7.5rem;
    transition: .2s;
}

.order__button__text-2 {
    width: 500px !important;
    padding: 2.5rem 7.5rem;
    transition: .2s;
    position: absolute;
    top: -100%;
}

.order__button:hover {
    background: linear-gradient(to right, var(--primary-dark), var(--primary-light));
}

.order__button:hover .order__button__text-1, .order__button:hover .order__button__text-2 {
    transform: translateY(100%);
    transition: .2s;
}

@media (max-width: 1200px) {

    html {
        background: none;
        padding: 0;
    }

    .order {
        margin-right: -10rem;
    }
}

@media (max-width: 1100px) {

    html {
        font-size: 8px;
    }

    .container {
        padding: 0;
    }

    .order {
        margin-right: 0;
    }

}

@media (max-width: 900px) {
    .content {
        display: block;
    }

    .sidemenu__ul {
        margin-top: 0;
    }

    .sidemenu__footer {
        display: none;
    }

    .sidemenu {
        width: 100%;
        display: block;
    }

    .sidemenu__ul {
        display: flex;
        align-items: center;
    }

    .sidemenu__li {
        width: 25%;
        padding: 2rem 0;
    }

    .main {
        width: 100%;
    }

    .inner {
        padding: 3rem;
    }

    .description {
        padding: 2rem;
        margin-right: 3rem;
    }

    .review {
        margin-bottom: 3rem;
        padding: 2rem;
    }

    .order {
        padding: 2.5rem 0;
    }
}

@media (max-width: 600px) {
    .inner {
        display: block;
        position: static;
    }

    .description {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .order {
        position: static;
        width: 100%;  
    }

    .order__button {
        width: fit-content;
        height: fit-content;
    }

    .order__button__text-2 {
        padding: 2rem 7.5rem;
    }

    .review--p {
        width: fit-content;
    }

    .review__user-data {
        width: fit-content;
    }

    .review__rating {
        margin-left: auto;
    }

    .order {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .search__input {
        width: 100%;
        border-radius: 0;
        order: 1;
    }

    .search__input:focus {
        width: 100%;
    }
}